.grid-container {
    width: 100%;
    flex: 1 1 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid-container > div {
    display: inline-block;
    height: 100%;
    width: 90%;
    max-height: 600px;
    max-width: 600px;
}
.grid {
    display:grid;
    height: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
