.playlistContainer {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 0 10%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.playlistContainer h1 {
  margin: 0.5rem 0 1rem 0;
  font-weight: 400;
  font-family: "Roboto", cursive;
}

.playlists {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  align-self: center;
  align-items: center;
  overflow-x: auto;
}

.playlists::-webkit-scrollbar {
  height: 5px;
  background-color: rgba(255, 255, 255, 0.26);
  border: none;
  border-radius: 10px;
}

.playlists::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  width: 0;
}

@media only screen and (max-width: 768px){
  .playlistContainer {
    padding: 0;
  }
  .playlistContainer h1 {
    margin: 0.5rem 1rem 1rem 1rem;
  }
}
