.playlistContainer {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.playlists {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  align-self: center;
  align-items: center;
  overflow-x: auto;
}

.playlists::-webkit-scrollbar {
  width: 0px;
}

.playlistsTitle {
  margin: 2rem 1rem;
}
