.sectionContainer {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 0 10%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.sectionContainer h1 {
  margin: 0.5rem 0 1rem 0;
  font-weight: 400;
  font-family: "Roboto", cursive;
}

.sectionContentContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  align-self: center;
  align-items: center;
  overflow-x: auto;
}

@media only screen and (max-width: 768px){
  .sectionContainer {
    padding: 0;
  }
  .sectionContainer h1 {
    margin: 0.5rem 1rem 1rem 1rem;
  }
}
