.question-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.grid-container {
  width: 100%;
  flex: 1 1 0;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container > div {
  display: inline-block;
  height: 100%;
  width: 90%;
  max-height: 600px;
  max-width: 600px;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

img.hidden {
  opacity: 0;
}

.playersInGame {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex-basis: 40%;
}

.questionAndAnswers {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex-basis: 60%; 
}

.questionTextSmall {
  display: none;
}

@media only screen and (max-width: 768px){
  .playersInGame {
    flex-basis: 55%;
  }
  .questionAndAnswers {
    flex-basis: 45%;
    padding: 0px 8px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 6px;
  }
  .grid-container {
    padding-bottom: 12px;
  }
  .grid-container > div {
    width: 100%;
  }
  .answerButton {
    padding: 0;
  }
  .questionTextFull {
    display: none;
  }
  .questionTextSmall {
    display: block;
  }
}
