.navbarContainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.navbarButton {
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  border-radius: 0px;
}

.currentLocation {
  border-bottom: 1px solid #fffdfd;
  background: rgba(255, 255, 255, 0.31);
}
