.leaderboardContainer {
  margin: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
  width: 80%;
  overflow: auto;
}

.leaderboardTitle {
  margin: 2rem;
}

.leaderboardTable {
  margin: 0 2rem;
  border-spacing: 0;
}

.leaderboardTitleRow {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #00000085;
  border-radius: 10px 10px 0 0;
}

.leaderboardTitleColumn {
  padding: 8px;
}

.firstTitleColumn {
  border-radius: 10px 0 0 0;
}

.lastTitleColumn {
  border-radius: 0 10px 0 0;
}

.leaderboardFirstColumn {
  text-align: center;
  padding: 8px;
}

.leaderboardColumn {
  text-align: end;
  padding: 8px;
}

.leaderboardEvenRowColor {
  background-color: #00000014;
}

.leaderboardParRowColor {
  background-color: #00000030;
}

.leaderboardLastRowFirstColumn {
  border-radius: 0 0 0 10px;
}

.leaderboardLastRowLastColumn {
  border-radius: 0 0 10px 0;
}

@media only screen and (max-width: 768px){
  .leaderboardContainer {
    width: CALC(100% - 2rem);
  }
  .leaderboardTitle {
    margin: 1rem 0;
  }
  .leaderboardTable {
    margin: 0;
  }
  .leaderboardTitleRow {
    font-size: 1rem;
  }
}
